table {
	border:2px solid black;
}
td: hover {
	background-color: light green;
	color: black;
}
tr, th {
	background-color: navy;
	color: white;
}
tr, td {
	background-color:darkgreen;
	color: white;
}
<link rel="stylesheet" type="text/css" href="CSS_table.css">
	
	